.footer {
  min-height: 35px;
  background: #212529;
  position: relative;
  padding: "20px";
  position: "fixed";
  left: "0";
  bottom: "0";
  height: "60px";
  width: "100%";
}


.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: #212529;
  color: white;
}
