.signupForm {
background-position: center;
width: 400px;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
position: relative;
margin: 0 auto;
margin-top: 30px;
background-color: black;
}

.formLabel {
    color: white;
    margin-top: 50%;
}

.submitButton {
    margin-top: 10px;
    margin-left: 35%;
}

.input {
    margin-top: 5px;
}